html,
body {
    margin:0;
    padding:0;
    height:100%;
}

#wrapper {
    min-height:100%;
    position:relative;
}

#header {
    padding:10px;
    background:#e58b2f;
}

#account {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:0.8em;
    color:#e58b2f;
    float: right;
    margin: 12px;
}

#errors{
    border:1px solid red;
}

#content {
    padding:10px;
    padding-bottom:40px; /* Height of the footer element */
}

#logo {
    width: 100px;
    float: left;
    margin: 12px;
}

#footer {
    width:100%;
    height:40px;
    position:absolute;
    bottom:0;
    left:0;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:0.8em;
    line-height: 34px;
    color:#fff;
    text-align:center;
    background:#e58b2f;
}

#signup
{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    position: fixed; /* or absolute */
    /*top: 50%;
    left: 50%; */
    width: 400px;
    /* margin-top: -200px;
    margin-left: -100px; */

}

#signup td, #users th
{
    font-size:0.8em;
    border:1px solid #e58b2f;
    padding:3px 7px 2px 7px;
}
#signup th
{
    font-size:1.0em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#e58b2f;
    color:#fff;
}
#signup tr.alt td
{
    color:#000;
    background-color:#FFFACD;
}




#login
{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -100px;
}

#login td, #users th
{
    font-size:0.8em;
    border:1px solid #e58b2f;
    padding:3px 7px 2px 7px;
}
#login th
{
    font-size:1.0em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#e58b2f;
    color:#fff;
}
#login tr.alt td
{
    color:#000;
    background-color:#FFFACD;
}






#users
{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width:100%;
    border-collapse:collapse;
}
#users td, #users th
{
    font-size:0.8em;
    border:1px solid #e58b2f;
    padding:3px 7px 2px 7px;
}
#users th
{
    font-size:1.0em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#e58b2f;
    color:#fff;
}
#users tr.alt td
{
    color:#000;
    background-color:#FFFACD;
}

/* pagination*/
div.pagination {
    padding: 3px;
    margin: 3px;
    text-align:center;
    color:#ff6500;
    font-size:80%;
}

div.pagination a {
    border: 1px solid #ff9600;
    margin-right:3px;
    padding:5px 7px;

    background-position:bottom;
    text-decoration: none;

    color: #ff6500;
}
div.pagination a:hover, div.meneame a:active {
    border: 1px solid #ff9600;
    background-color:#ffc794;
    color: #ff6500;
}
div.pagination span.current {
    margin-right:3px;
    padding:5px 7px;
    border: 1px solid #ff6500;

    font-weight: bold;
    background-color: #ffbe94;
    color: #ff6500;
}
div.pagination span.disabled {
    margin-right:3px;
    padding:5px 7px;
    border: 1px solid #ffe3c6;

    color: #ffe3c6;
}